<style>
p{padding:0;margin:0;}
body{padding:0;margin:0;}
</style>


<form method="post" action="mail.php">
<p>Votre nom :</p> <input type="text" required minlength="2" name="name">
<p>Votre email :</p> <input type="email" required name="email">
<br />
<p>Message</p><textarea name="message" required minlength="10" rows="6" cols="25"></textarea><br /> 
<input type="submit" value="Envoyer">
</form>



